* {
    margin: 0;
    padding: 0;
}

html, body {
    height: calc(100% - 10px);
}

body {
    padding: 10px;
    width: 90%;
    margin: auto;
}

p {
    margin-bottom: 10px;
}

.theme-dark {
    background: #202124;
    color: white;
    --color: white;
}

.devtool--host {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.devtools--row {
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    column-gap: 10px;
}

.devtools--row input,
.devtools--row button {
    flex: 1;
}

button {
    padding-left: 8px;
    padding-right: 8px;
    border: none;
    border-radius: 2px;
    margin-right: 2px;
    margin-left: 2px;
    background: #e9e9ea;
    color: #0c0c0d;
    height: 32px;
    transition: all .2s;
}

button:hover {
    background: #ffff;
    cursor: pointer;
}

input {
    background: none;
    color: inherit;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
}
