* {
    margin: 0;
    padding: 0;
}

html, body {
    height: calc(100% - 10px);
}

body {
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
    font-size: 30px;
    margin-top: 10px;
}

p {
    margin-bottom: 10px;
}

.theme-dark {
    background: #202124;
    color: white;
    --color: white;
}

.devtool--host {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.devtools--row {
    width: 100%;
    flex-grow: 1;
    display: flex;
    gap: 10px;
}

.devtools--row input,
.devtools--row button {
    flex: 1;
}

button {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: .25rem;
    transition: all .1s;
    line-height: 1.5;
    height: 39px;
    border: none;
}

.theme-dark button {
    background: #343a40;
    color: #fff;
    border-color: #343a40;
}

button:hover {
    cursor: pointer;
}

.theme-dark button:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}

input {
    border: none;
    background: none;
    outline: none;
    border-radius: .25rem;
    line-height: 1.5;
    height: calc(39px - 2px);
    padding-left: 8px;
    padding-right: 8px;
}

.theme-dark input {
    border: 1px solid #ced4da;
    color: #fff;
}

.theme-light input {
    border: 1px solid #000;
    color: #000;
}
